apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: quiz-battle-arena
  labels:
    app: backend
    tier: application
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30800
    protocol: TCP
    name: http
  selector:
    app: backend
    tier: application
