apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: quiz-battle-arena
  labels:
    app: frontend
    tier: presentation
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000
    protocol: TCP
    name: http
  selector:
    app: frontend
    tier: presentation
